@model IEnumerable<bigschool.Models.Course>
@{
    ViewBag.Title = "Followings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Followings</h2>
<div>
    <ul class="course">
        @foreach (var course in Model)
        {
        <li>
            <span>
                @course.Lecturer.Name
            </span>
            
            <span>
                @course.Lecturer.Email
            </span>
        </li>
        }
    </ul>

    @section scripts{
        <script>

        </script>
    }
</div>

