@model IEnumerable<bigschool.Models.ApplicationUser>
@{
    ViewBag.Title = "Followings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Followings</h2>
<div>
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
               @course.UserName-@course.Name
            </li>
        }
    </ul>

    @section scripts{
        <script>
            
        </script>
    }
</div>

